@import "variables"
@import "fonts"

body
  width: 99%
  background-color: #333333
  font-family: $font-family
  font-size: $font-size

.board
  width: 800px
  height: 800px
  margin-top: 25px
  margin-left: 15px

.square
  width: 80px
  height: 80px
  float: left

.square-white
  background-color: $chessWhite
  color: $chessBlack
.square-black
  background-color: $chessBlack
  color: $chessWhite

.square-no-outline
  color: $font-color-outline
  width: 80px
  height: 50px
  text-align: center
  padding-top: 30px
  background-color: $chessOutline
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==")

.rotate
  transform: rotate(180deg)

.figure
    max-width: 80px
    max-height: 80px